

:root{

  --color-1:#780000;
  --color-2:#C1121F;
  --color-3:#FEFDFF;
  --color-4:#003049;
  --color-5:#669BBC;
  --color-6:#0F1A20;
}
*{
  margin: 0;
  padding: 0;
}

html{
  font-family: "Nunito Sans",Verdana, Geneva, Tahoma, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;

}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    
}

/*restricting content width for wide screen*/
.header-content, .hero-content, .info-box{
  width: 60%;
  margin: 0 auto;
  
}

.header, .hero{
  position: relative;
  width: 100%;
  padding: 0 0 10px 0;
  
 
}



/*Utility classes*/

.red-bold{
  color: var(--color-1);
  font-weight: 900;
}

/*animations*/

@keyframes expanding-bdr {
  from {width: 0px;}
  to {width:100%}
}

@keyframes text-reveal-sliding-left{
  from {
    left: -250px;
    opacity: 0;
  }
  to {
    left:0;
    opacity: 1;
  }
}
@keyframes text-reveal-sliding-top{
  from {
    top: -250px;
    opacity: 0;
  }
  to {
    top:0;
    opacity: 1;
  }
}
@keyframes text-reveal-sliding-bottom{
  from {
    bottom: -250px;
    opacity: 0;
  }
  to {
     bottom:0;
    opacity: 1;
  }
}
@keyframes text-reveal-sliding-right{
  from {
    right: -250px;
    opacity: 0;
  }
  to {
    right:0;
    opacity: 1;
  }
}

.anim-duration-half-sec{
  animation-duration: 0.5s;
}

.anim-delay-1sec{
  animation-delay: 1s;
}
.anim-delay-2sec{
  animation-delay: 2s;
}
.anim-delay-3sec{
  animation-delay: 3s;
}
.anim-delay-4sec{
  animation-delay: 4s;
}
.anim-delay-5sec{
  animation-delay: 5s;
}
.anim-text-reveal-top{
  position: relative;
  animation-name: text-reveal-sliding-top;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
.anim-text-reveal-bottom{
  position: relative;
  animation-name: text-reveal-sliding-bottom;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
.anim-text-reveal-right{
  position: relative;
  animation-name: text-reveal-sliding-right;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
.anim-text-reveal-left{
  position: relative;
  animation-name: text-reveal-sliding-left;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}


.anim-underline-expand:after{
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: var(--color-1);  
  animation-name: expanding-bdr;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* info-box styling*/
.info-box{
  
  
  font-size: 1.135rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin: 4rem auto;
  

}
.info-box h1{
  padding-bottom: 2rem;
  font-weight: 800;
  
}

.info-box-content{
  color: var(--color-4);
  padding: 3rem;
  width: clamp(50rem, 20rem, 8rem);
}

 /*responsive styling*/
@media(max-width: 1780px){
  /*header styling*/

  

  .header-content, .hero-content, .info-box{
    
    width:100%;
    
  }

  
}

@media(max-width: 550px){

}




