

:root{

  --color-1:#780000;
  --color-2:#C1121F;
  --color-3:#FDF0D5;
  --color-4:#003049;
  --color-5:#669BBC;
}
*{
  margin: 0;
  padding: 0;
}

html{
  font-family: "Nunito Sans",Verdana, Geneva, Tahoma, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;

}
body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    
}

/* header and navbar styling*/

.header{
  background-color: #669BBC;
  font-size: 1.4rem;
  
}
.header-content {
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  
}
.header a {
  color: var(--color-3);
  padding: 10px;
  text-decoration: none;
}

.header svg{
  fill: var(--color-3);
}

.logo{
  width: 16rem;
  height: 12rem;
  
  background-image: url(../images/logo-transparent.svg);
  background-size: cover;
}

.navbar{
 
  width:60%;
  height: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: #003049;

}

.navbar a{
  margin: 0 50px;
}

.navbar a:hover{
  
  background-color: var(--color-2);
}

#header-btn{

  background-color: #780000;
  
}

/*Sidebar style*/

#sidebar-active{
display: none;
}

.open-sidebar-button, .close-sidebar-button{
  display: none;
}

#navbar-btn{
  display: none;
}

/*sidebar trigger*/

@media(max-width: 880px){
    .navbar{
      
      flex-direction: column;
  
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      width: 400px;
      background-color: var(--color-4);
      box-shadow: -5px 0 5px black;
      transition: 0.75s ease-out;

    }
    .navbar a{
      box-sizing: border-box;
      height: auto;
      width: 100%;
      padding: 20px 30px;
      justify-content: flex-start;
    }
    .header{
      justify-content: space-between;
      
    }
    #header-btn{
      display: none;
    }
    .close-sidebar-button,  #navbar-btn{
      padding: 20px;
      display: block;
    }
    .open-sidebar-button{
      display: inline-block;
      width: 90%;
      text-align: right;
    }
    #sidebar-active:checked ~ .navbar{
      right: 0;
    }
    #sidebar-active:checked ~ #overlay{
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
    }
    
}

@media(max-width: 1340px){

  .navbar a{
    margin: 0 20px;
  }
}

@media(max-width: 1780px){

  .header-content{
    width: 100%;
  }
}
